<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319757628971-ij4bh1bp2sfrre4lcvb99cfk9tmj56vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319757628971-ij4bh1bp2sfrre4lcvb99cfk9tmj56vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAyuO5gfzlcXaflTa4e_MbaMv8tQ7t46v4</string>
	<key>GCM_SENDER_ID</key>
	<string>319757628971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasu.productene</string>
	<key>PROJECT_ID</key>
	<string>timebattle</string>
	<key>STORAGE_BUCKET</key>
	<string>timebattle.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319757628971:ios:a59eeb525af3336b811c6e</string>
</dict>
</plist>